@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
body{
    display:flex;
    margin:0;
    padding:0;
    min-height: 100vh;
    background-color: #E2ECF4;
    justify-content: center;
    align-items: center;
    font-family: 'Comfortaa', cursive;
  }

  a:link {
    color: cyan;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: rgb(255, 102, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  .container{
    width: 750px;
    position: relative;
    background-color: #E2ECF4;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-left: auto;
    margin-right: auto;  
  }
  .container .card{
    position: right;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .container .card .face{
    width:230px;
    height: 200px;
    transition:.4s; 
  }
  .container .card .face.face1{
    position: relative;
    background: #222;
    display: flex;
    align-self: center;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  }
  .container .card:hover .card1{
    transform: translateY(0);
    box-shadow: 0 0 40px #0097F6;
    background-color: #0097F6;   
  }
  .container .card:hover .card2{
    transform: translateY(0);
    box-shadow: 0 0 40px #943DF6;
    background-color: #943DF6;   
  }
  .container .card:hover .card3{
    transform: translateY(0);
    box-shadow: 0 0 40px #F7DB4D;
    background-color: #F7DB4D;   
  }
  .container .card:hover .card4{
    transform: translateY(0);
    box-shadow: 0 0 40px #dd3434;
    background-color: #dd3434;   
  }
  .container .card .face.face1 .content{
    opacity: .2;
    transition:  0.5s;
    text-align: center;
  }
  .container .card:hover .face.face1 .content{
    opacity: 1; 
  }
  .container .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;   
  }
  .container .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
  }
  .container .card .face.face1 .content a{
     transition: .5s;
  }
  .container .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,.8);
    transform: translateY(-100px);
  }
  .container .card:hover .face.face2{
      transform: translateY(0);
  }
  .container .card .face.face2 .content p, a{
    font-size: 10pt;
    margin: 0 ;
    line-height: 22px;    
    text-decoration: none;
    padding: 0;
    color:#333;
  }
  .container .card .face.face2 .content .link{
    color:#00c;
  }
  .container .card .face.face2 .content .btn{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px double #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
  }
  .container .card .face.face2 .content .btn:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
  }
